$color-text-dark: #2D2D2D;
$color-text-light: #FFFFFF;
$color-hover: #FF9900;
$color-hover-transparent: rgba(255, 153, 0, .8);
$color-background-dark: #81bdc1;
$color-background-light: #5d9093;
$fonts-body: 'Junge Regular', 'Times New Roman', Georgia, serif;
